html {

}

.background-image-cvr {
  position: absolute;
  padding: 15px;
}

.background-image {
  z-index: 1;
  background-image:url('cemetary.jpg');
  position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-size:cover;
	z-index:1;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  margin: 0 auto;
}

.content {
  font-family: 'Petit Formal Script', cursive;
  position:relative;
	z-index:2;
}

h1 {
  z-index: 20;
  margin: 0 auto;
  padding-bottom: 10rem;
  padding-top: 10rem;
  font-size: 5rem;
  color: white;
}

.clock {
  z-index: 20;
  width: 30rem;
  height: 30rem;
  border-radius: 30rem;
  border: 2px solid white;
  margin: 0 auto;
}

.clock-face {
  z-index: 20;
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(-3px);
}

.hand {
  z-index: 20;
  width: 50%;
  height: 6px;
  background: white;
  position: absolute;
  top: 50%;
  /* needed to transform the hand starting at the end and not on the middle */
  transform-origin: 100%;
  /* rotate hand so that it starts at 12 o'clock */
  transform: rotate(90deg);
  transition: all 0.5sec;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
